<div class="container">
    <h1>User Registration</h1>
    <form (ngSubmit)="submit()">
        <div class="form-group">
            <label for="firstname">FirstName</label><br>
            <input type="text" name="name" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstname">LastName</label><br>
            <input type="text" name="name" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstname">Email</label><br>
            <input type="text" name="name" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstname">Password</label><br>
            <input type="text" name="name" class="form-control" ngModel>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
